@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
    max-height: calc(100vh - 20px);
    
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.navbar a:hover,
.navbar a.current{
    color: gold;
}

.home{
    position: relative;
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    

}

.self_img img{
    max-width: 450px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px gold;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: .9s;
}

.home-content h3:nth-last-of-type(1){
    margin-bottom: 30px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 500;
}
.home-content{
    max-width: 600px; 
    opacity: 0;   
    animation: slideRight 1s ease forwards;
    animation-delay: .9s;
}
.home-content h1{
    font-size: 50px;
    font-weight: 500;
    margin: -3px 0;
}
.home-content p{
    font-size: 15px;
}

.home-content h3 span{
    color: gold;
}

.about{
    position: relative;
    width: 100;
    height: 100vh;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 100px 5% 0;

}
.about-section{
    max-width: 1000px; 
    opacity: 0;   
    animation: slideRight 1s ease forwards;
    animation-delay: .9s;
}

.about-section h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.portfolio{
    
    width: 100;
    height: 100vh;
    display:grid;
    justify-content: space-between;
    align-items: center;
    padding: 100px 5% 0;

}
.portfolio-section{
    max-width: 90%; 
    opacity: 0;   
    animation: slideRight 1s ease forwards;
    animation-delay: .9s;
}

.portfolio-section h1{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 20px;
    color: gold;
}



.social_media a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid gold;
    border-radius: 100%;
    font-size: 20px;
    color: gold;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: calc(.2s*var(--i));
    
}

.social_media a:hover{
    background-color: gold;
    color: black;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: gold;
    border-radius: 40px;
    box-shadow: 0 0 10px gold;
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;

}


/*Animation*/
@keyframes slideRight {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


